.education-education {
  width: 853px;
  height: 189px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.education-text {
  color: rgb(0, 61, 116);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.education-line3 {
  top: 17px;
  left: 0px;
  width: 357px;
  height: 1px;
  opacity: 0.20;
  position: absolute;
}
.education-group11 {
  top: 22px;
  left: 0px;
  width: 347px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.education-text1 {
  color: rgb(37, 41, 50);
  right: -164px;
  bottom: -37px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.education-text2 {
  top: 0px;
  left: 100px;
  color: rgb(37, 41, 50);
  right: -347px;
  bottom: -4px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.education-text3 {
  color: rgb(37, 41, 50);
  width: 100px;
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: 165%;
  font-stretch: normal;
  text-decoration: none;
}
