.a438-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.a438-a438 {
  width: 100%;
  height: 842px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
}
.a438-skills {
  top: 218px;
  left: 37px;
  width: 298px;
  height: 403px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text {
  color: rgb(0, 61, 116);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text01 {
  top: 24px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text02 {
  text-decoration: underline;
}
.a438-text03 {
  text-decoration: underline;
}
.a438-text07 {
  top: 270px;
  left: 0px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text08 {
  font-size: 20px;
  text-decoration: underline;
}
.a438-text09 {
  font-size: 20px;
  text-decoration: underline;
}
.a438-text10 {
  font-size: 20px;
}
.a438-text11 {
  font-size: 20px;
}
.a438-text13 {
  top: 79px;
  left: 0px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text14 {
  text-decoration: underline;
}
.a438-text20 {
  top: 135px;
  left: 0px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text21 {
  text-decoration: underline;
}
.a438-text22 {
  text-decoration: underline;
}
.a438-text25 {
  left: 0px;
  color: rgb(37, 41, 50);
  bottom: 23px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text26 {
  text-decoration: underline;
}
.a438-text27 {
  text-decoration: underline;
}
.a438-text30 {
  top: 185px;
  left: 0px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text31 {
  text-decoration: underline;
}
.a438-line7 {
  top: 17px;
  left: 0px;
  width: 145px;
  height: 1px;
  opacity: 0.20;
  position: absolute;
}
.a438-languages {
  top: 694px;
  left: 37px;
  width: 237px;
  height: 96px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text34 {
  color: rgb(0, 61, 116);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: "Arimo";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text35 {
  top: 25px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text36 {
  top: 56px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-line6 {
  top: 17px;
  left: 0px;
  width: 145px;
  height: 1px;
  opacity: 0.20;
  position: absolute;
}
.a438-group39 {
  top: 218px;
  left: 405px;
  width: 1068px;
  height: 309px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-group8 {
  left: -6px;
  width: 1013px;
  bottom: -4px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text37 {
  top: 72px;
  left: 108px;
  color: rgb(37, 41, 50);
  width: 273px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text40 {
  top: 97px;
  left: 107px;
  color: rgb(37, 41, 50);
  bottom: 16px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text41 {
  top: 0px;
  left: 100px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text42 {
  top: 38px;
  left: 100px;
  color: rgb(37, 41, 50);
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 20px;
  font-style: italic;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text45 {
  top: -1px;
  left: 7px;
  color: rgb(37, 41, 50);
  width: 100px;
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: 165%;
  font-stretch: normal;
  text-decoration: none;
}
.a438-line3 {
  top: 17px;
  left: 0px;
  width: 357px;
  height: 1px;
  opacity: 0.20;
  position: absolute;
}
.a438-group32 {
  top: 25px;
  left: 0px;
  width: 980px;
  height: 140px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text46 {
  top: 61px;
  left: 107px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text47 {
  top: 97px;
  left: 107px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text50 {
  top: 0px;
  left: 100px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text53 {
  top: 38px;
  left: 100px;
  color: rgb(37, 41, 50);
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 20px;
  font-style: italic;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text54 {
  color: rgb(37, 41, 50);
  width: 100px;
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: 165%;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text55 {
  color: rgb(0, 61, 116);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-group41 {
  left: 405px;
  width: 424px;
  bottom: 47px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-line4 {
  top: 17px;
  left: 0px;
  width: 357px;
  height: 1px;
  opacity: 0.20;
  position: absolute;
}
.a438-text56 {
  top: 14px;
  color: rgb(0, 61, 116);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text57 {
  top: 28px;
  left: 1px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text60 {
  top: 232px;
  color: #000000;
  right: 98px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text61 {
  top: 290px;
  color: #000000;
  right: 35px;
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-family: "Arimo";
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-education {
  top: 572px;
  left: 405px;
  width: 835px;
  height: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text62 {
  color: rgb(0, 61, 116);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-line31 {
  top: 17px;
  left: 0px;
  width: 357px;
  height: 1px;
  opacity: 0.20;
  position: absolute;
}
.a438-group11 {
  top: 22px;
  left: 0px;
  width: 347px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text63 {
  top: 38px;
  left: 107px;
  color: rgb(37, 41, 50);
  right: -164px;
  bottom: -37px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text66 {
  top: 0px;
  left: 100px;
  color: rgb(37, 41, 50);
  right: -347px;
  bottom: -4px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text67 {
  color: rgb(37, 41, 50);
  width: 100px;
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: 165%;
  font-stretch: normal;
  text-decoration: none;
}
.a438-personalinfo {
  top: 462px;
  right: 0px;
  width: 264px;
  height: 292px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text68 {
  color: rgb(0, 61, 116);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-group22 {
  top: 36px;
  left: 0px;
  width: 211px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text69 {
  top: 30px;
  left: 0px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text72 {
  left: 0px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Arimo";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-group24 {
  top: 105px;
  left: -1px;
  width: 82px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text73 {
  left: 0px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Arimo";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text74 {
  top: 30px;
  left: 0px;
  color: rgb(37, 41, 50);
  bottom: -23px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-group26 {
  left: -1px;
  width: 84px;
  bottom: 2px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text75 {
  top: -33px;
  left: 0px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Arimo";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text76 {
  top: 30x;
  left: 0px;
  color: rgba(37, 41, 50, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Arimo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-line8 {
  top: 17px;
  left: 0px;
  width: 145px;
  height: 1px;
  opacity: 0.20;
  position: absolute;
}
.a438-group23 {
  top: 168px;
  left: 0px;
  width: 98px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.a438-text78 {
  top: 0px;
  left: 0px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Arimo";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-text79 {
  top: 30px;
  left: 0px;
  color: rgb(37, 41, 50);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Arimo";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a438-container1 {
  top: 0px;
  flex: 1;
  left: 0px;
  width: 1376px;
  height: 140px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.a438-text83 {
  color: rgb(0, 61, 116);
  font-size: 15px;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
}
.a438-list {
  width: 100%;
  height: 102px;
  list-style-type: disc;
  list-style-position: inside;
}
.a438-pasted-image {
  top: 0px;
  right: 64px;
  position: absolute;
}
